.body{
    font-family: sans-serif;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow:rgba(0, 0, 0, .5);
    padding: 0% !important;
    margin: 0% !important;
}
.inner-scroll{
    padding: 0% !important
}
.login-box{
    font-family: sans-serif;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: bold;

}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
    font-weight: bold;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
    color: white;
    font-weight: bold;

}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 80%;
    float: left;
    margin:0 10px;

}
.btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    font-weight: bold;

}
