<ion-content>
    <img src="assets/img/Paris-Wallpaper-4k-Iphone-eiffel-tower-in-paris-4k-0m-1125x2436-hdqwalls-.jpg" class="body"/>
    <div class="login-box">
      <h1>Login</h1>
      <div class="textbox">
          <input type="text" [(ngModel)]="user.email" placeholder="Email" style="color:white" name="" value="">
      </div>
      <div class="textbox">
          <input type="password" [(ngModel)]="user.password" placeholder="Password" name="" value="">
     </div>
     <input type="button" name="" value="Login" class="btn" (click)="login(user)">
     <input type="button" name="" value="Cadastre-se" class="btn" (click)="register()">
      
      
      </div>
    
</ion-content>
