<ion-content>
        <img src="assets/img/ECn3ddQ-577x1024.jpg" class="body"/>

    <div class="login-box">
        <h1>Cadastro</h1>
        <div class="textbox">
            <input type="text" [(ngModel)]="user.email" placeholder="Email Address" name="" value="">
        </div>
        <div class="textbox">
            <input type="password" [(ngModel)]="user.password" placeholder="Password" name="" value="">
       </div>
       <div class="textbox">
          <input type="password" [(ngModel)]="cpassword" placeholder="Confirm Password" name="" value="">
     </div>
       <input type="button" name="" value="Voltar" class="btn" (click)="back()">
       <input type="button" name="" value="Cadastrar" class="btn" (click)="register(user)">
        
        
        </div>
</ion-content>
