<ion-header>
  <ion-toolbar>
    <ion-title>
      Ilusão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>


    <ng-container *ngIf="!todos || todos.length ==0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding *ngFor="let item of todos">
      <ion-item lines="inset" button [routerLink]="['/details', item.id]">
        <ion-card style="background: #fefefe">
          <div class="texto">{{ item.task }}</div>
          <p>{{ item.createdAt | date:'short' }}</p>
        </ion-card>
          
        <ion-note slot="end" color="primary">{{ item.priority }}</ion-note>
      </ion-item>
      <ion-item-options slide="end">
          <ion-item-option (click)="remove(item)" color="danger">
            Excluir 
            <ion-icon name="trash" slot="end"></ion-icon>
          </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward" style="--background: black">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
<ion-footer class="final" style="--ion-background-color: black">
  <ion-item>
    <ion-button style="--background: black" slot="end" size="20px" (click)="logout()">
      <ion-icon name="exit" color="white" slot="end"></ion-icon>
      Sair
    </ion-button>
      
      
  </ion-item>
</ion-footer>