
.fake-skeleton{
    width: 60%;
}
.texto{
          margin:20px auto;
          padding: 8px;
          color: black;
          background-color: #ffffff;
          line-height: 30px;
          font-size: 18px;
          margin: 8px 0;
          max-width: 90%;
          word-wrap: break-word;
          z-index: -1;
          clear: both;
          font-family: Arial, Helvetica, sans-serif;
          font-style: italic
}
.header{
    --ion-background-color: #000000;
    --ion-text-color: white;
        font-size: 20px;
        text-align: center;
        font-weight: bold
}